.image1:hover{
    transform: scale(1.5);
}

.image2:hover{
    transform: scale(1.5);
}

.image3:hover{
    transform: scale(1.5);
}

.image4:hover{
    transform: scale(1.5);
}

.image5:hover{
    transform: scale(1.5);
}

.image6:hover{
    transform: scale(1.5);
}


html{
    background-color:cadetblue
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    color:white
 
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-align: center;
    color:white
 }

 .text1{

    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    
    column-gap: 30px;
    
    text-indent: 10%;
}

.text2{

    display: grid;
        
    grid-template-columns: 1fr 1fr 1fr;
        
    column-gap: 30px;

    text-indent: 10%;
        
}
